<!doctype html>

<html>
    <head>
        <Title>Seattle Public Art by Ohanapecosh Maps</Title>
        <link rel="stylesheet" href='main.css'/>
    </head>
    <body>
        <div id='page'>
        <header>
            Seattle Public Art by Ohanapecosh Maps
        </header>
        <nav>
            <a href="../about">About</a>
            <a href="../home">Home</a>
            <a href="../submit">Add</a>
        </nav>
            {{{body}}}
        <footer>
            &copy; 2017, Ohanapecosh Maps
        </footer>
        </div>
    </body>
</html>