/* home.css
/  CSS style for mpg-calculator.hmtl
/
/  WEB 150 Introduction to JavaScript
/  Seattle Central College
/
/  February 2017
/
/  Derek S Wilson
/
*/
     #page {
          background-color: lightblue;
          height: 200px;
          width: 600px;
     }
     header, footer {
          text-align: center;
          margin-top: 2%;
     }
