<!DOCTYPE html>
<!--about.html                           -->
<!--                                    -->
<!-- April 2017                         -->
<!--                                    -->
<!-- Seattle Central College            -->
<!-- ITC 230 Advanced JavaScript        -->
<!-- Assignment 3                       -->
<!--                                    -->
<!-- Derek S Wilson                     -->
<!--                                    -->
<!--                                    -->
<html>
<head>
  <title>About Seattle Public Art from Ohanapecosh Maps</title>
</head>
<body>
	
  <h2>Seattle Public Art Information courtesy of Ohanapecosh Maps</h2>

</body>
</html>
